/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #777; }
body { margin: 0; font-size: 16px; line-height: 1.4; overflow-y: scroll; -webkit-tab-size: 4; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; text-shadow: -1px -1px 0 #fff;
	background: url('../img/grid.png') #cfcfcf;
}

::-moz-selection { background: #444; color: #fff; text-shadow: -1px -1px 0 #000 !important; }
::selection { background: #444; color: #fff; text-shadow: -1px -1px 0 #000 !important; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #0088cc; text-decoration: none; }
a:hover { color: #005580; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid; border-color: #ccc; border-color: rgba(0,0,0,0.2); background: rgba(255,255,255,0.3); margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 0.8em; background: #f8f8f8; border: 1px solid #ccc; }

code { padding: 3px 4px; color: #d14; background-color: #f7f7f9; border: 1px solid #e1e1e8; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Headlines
   ========================================================================== */

h1,h2,h3,h4,h5,h6 { color: #444; font-weight: normal; font-family: ThemeFont, sans-serif; text-shadow: 2px 2px 0 rgba(0,0,0,0.2); word-spacing: 2px; }
h6 { color: inherit; text-transform: uppercase; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

#container {
	position: relative; margin: 45px auto; width: 960px; border-top: 1px solid #fafafa; z-index: 10; background: url('../img/paper-texture.jpg') left -50px #e5e5e5;
	background-clip: padding-box; -moz-border-radius: 4px; border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px #999, 0 20px 50px rgba(50,50,50,0.2);
	-moz-box-shadow: 0 1px 4px #999, 0 20px 50px rgba(50,50,50,0.2);
	box-shadow: 0 1px 4px #999, 0 20px 50px rgba(50,50,50,0.2);
}
#container .wrapper { padding: 1px 0; background: url('../img/splash.png') no-repeat center -100px; }

header h1 { margin: 60px auto 0; font-size: 100px; line-height: 1em; text-align: center;
	text-shadow: 1px 1px 0 #ddd, 1px 2px 0 #afafaf, 2px 3px 0 #a9a9a9, 2px 4px 0 #a3a3a3, 3px 5px 0 #999, 3px 6px 0 #757575, 3px 6px 2px #777, 3px 6px 6px #777, 3px 6px 15px #777;
}

#progress { margin: 40px auto; width: 600px; height: 20px; background: url('../img/progressbar.png') no-repeat left top; }
#progress .bar { position: relative; float: left; top: 3px; left: 3px; width: 16px; height: 15px; }
#progress .bar span { position: absolute; display: block; width: 8px; height: 15px; background: url('../img/progress.png') repeat-x left top; }
#progress .bar .left { left: 0; }
#progress .bar .middle { left: 8px; right: 8px; width: auto; background-position: left center; }
#progress .bar .right { right: 0; background-position: right bottom; }
#progress .bar .streaks { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url('../img/streaks.png') 0 0; z-index: 10; }

.note { text-align: center; }
.note em { display: block; margin: 1.5em 0; text-shadow: -1px -1px 0 #fff; font-family: Georgia, serif; font-style: italic; }

#meanwhile { position: relative; margin: 2em 3em 40px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiePToEUCAAQAFUAKnIDg70AAAAABJRU5ErkJggg==') repeat-y center top; }

#meanwhile > .left,
#meanwhile > .right { width: 47%;}
#meanwhile > .left { float: left; padding: 0 3% 0 0; }
#meanwhile > .right { float: right; padding: 0 0 0 3%; }
#meanwhile h2 { position: relative; font-size: 24px; margin-bottom: 1em; }
#meanwhile .btwn { position: absolute; display: block; width: 40px; height: 40px; line-height: 40px; background: #eee; top: -4px; left: -45px; font-size: 14px; color: #868686;
	text-align: center; font-family: Georgia, serif; font-style: italic; text-shadow: 1px 1px 0 #fff; text-transform: uppercase;
}
#meanwhile .btwn.amp { font-size: 20px; }

/* Projects */
#projects h2 { text-align: right; }

/* Tweets */
#tweets { margin-top: 2em; }
#tweets h2 { margin-bottom: 0; }

/* Chalklist of buttons */
ul.chalklist { list-style: none; margin: 0; padding: 4px 0; padding-bottom: 7px; background: url('../img/grunge_line.png') repeat-x left bottom; }
ul.chalklist li { margin: 0 1px; padding: 0; }
ul.chalklist li:hover { margin: 0; border: 1px solid; border-top: 0; border-bottom: 0; border-color: #ddd; border-color: rgba(0,0,0,0.1); background: #f5f5f5; background: rgba(255,255,255,0.3); }

ul.chalklist li a { margin-top: -4px; display: block; padding: 24px 15px 20px 15px; color: inherit; background: url('../img/grunge_line.png') repeat-x left top; }
ul.chalklist li a h3 { margin: 0; width: 60%; }
ul.chalklist li a .category { display: block; float: right; height: 20px; line-height: 20px; padding-right: 28px; font-size: 0.8em; font-style: italic;
	background: url('../img/category_icons.png') no-repeat right top;
}

ul.chalklist .chrome .category { background-position: right -30px; }
ul.chalklist .jquery .category { background-position: right -60px; }
ul.chalklist .php .category { background-position: right -90px; }

ul.chalklist li a p { clear: both; font-family: Georgia, serif; font-size: 0.8em; margin: 5px 0 0 0; }

/* tweets */
ul.tweets { list-style: none; margin: 20px 0 0 0; padding: 0; font-family: Georgia, serif; }
ul.tweets li { padding: 20px 0; background: url('../img/grunge_line_subtle.png') repeat-x left bottom; }
ul.tweets li:first-child { padding-top: 0; }
ul.tweets li:last-child { padding-bottom: 0; background: none; }
ul.tweets li.loading { height: 60px; background: url('../img/loading.gif') no-repeat center center; }
ul.tweets li { padding: 20px 0; background: url('../img/grunge_line_subtle.png') repeat-x left bottom; }
ul.tweets li img { float: left; width: 70px; height: 70px; border-radius: 50%;
	-webkit-box-shadow: 1px 2px 0 #aaa; -moz-box-shadow: 1px 2px 0 #aaa; -o-box-shadow: 1px 2px 0 #aaa; -ms-box-shadow: 1px 2px 0 #aaa; box-shadow: 1px 2px 0 #aaa;
}
ul.tweets li .tweet { font-size: 14px; margin: 0 0 0 90px; min-height: 70px; }
ul.tweets li .tweet .time { display: block; margin-top: 8px; font-size: 0.8em; font-style: italic; }

/* Stamps */
#stamps { position: absolute; top: 25px; left: 899px; }
#stamps a { position: relative; display: block; width: 64px; height: 68px; margin: 0 0 10px 0; overflow: hidden; background: url('../img/stamps.png') no-repeat -64px 0; text-indent: -999em; }
#stamps a .icon { display: block; position: absolute; top: 0; right: 0; width: 64px; height: 68px; z-index: 10; overflow: hidden; background: url('../img/stamps.png') no-repeat 0 0; }
#stamps a .icon span { display: block; position: absolute; top: 1px; right: 0; width: 12px; height: 66px;
 	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAABCAYAAADq6085AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACJJREFUeNpiZGBgYIRiJiBmBmI2IGYFYg4ohvH5gZgdIMAABI0ARe5et3IAAAAASUVORK5CYII=') repeat-y right top;
}

#stamps a.twitter { background-position: -64px -68px; }
#stamps a.twitter .icon { background-position: 0 -68px; }


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Floats */
.fleft { float: left; }
.fright { float: right; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }